/*
Définition de variables Sass, par exemple :
   $color: #282c34;
*/

$mainFont: Montserrat, sans-serif;

$mainColor: #eeeeee;
$emphaseColor: #d1a838;

$fsStandard: 1em;
$fwStandard: 400;
$darkTextColor: #1f1e1e;
$lightTextColor: #fff;
$textShadow: 2px 1px 5px #747474;

$gutter: 2em;
