@use 'reset';
@use 'variables' as v;

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: v.$mainColor;
  overflow-x: hidden;
}

code {
  font-family: 'Montserrat', sans-serif;
}
