@use '../../styles/variables';

.home-container-under {
  background: url(../../assets/images/main-bg.png);
}

.home-container-over {
  background-color: #ffffff4b;
  height: 70vh;
  display: flex;
}
.home-title-container {
  display: flex;
  width: 40%;
  margin-top: 70px;
  margin-left: 70px;
  height: fit-content;
}

.home-title {
  font-size: variables.$fsStandard * 5;
  font-weight: variables.$fwStandard * 2;
  color: #fff;
  text-shadow: variables.$textShadow;
  background-color: #ffffff73;
  padding: 20px;
  &-span {
    font-size: 0.5em;
    font-weight: 800;
  }
}

@media (max-width: 576px) {
  .home-title-container-under {
    position: relative;
    .home-title-container {
      position: absolute;
      top: 0;
      left: 0px;

      // margin: 70px auto;
      width: 80%;
    }
  }
  .home-title {
    text-align: center;
    font-size: variables.$fsStandard * 4;
  }
}
