@use '../../styles/variables';

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: variables.$darkTextColor;
  font-weight: variables.$fwStandard * 1.5;
  padding: variables.$gutter;
  transition: 0.3s;
  background-color: #fff;
  z-index: 500;
  .navbar-name {
    font-size: variables.$fsStandard * 2;
    font-weight: variables.$fwStandard * 2;
    width: 33%;
  }
  .navbar-location {
    font-size: variables.$fsStandard * 1.5;
  }
  .navbar-link-container {
    display: flex;
    gap: variables.$gutter;
    width: 33%;
    justify-content: flex-end;
  }
  .navbar-link {
    font-weight: variables.$fwStandard;
    font-size: variables.$fsStandard * 1.2;
    &--active {
      color: variables.$emphaseColor;
    }
  }
  .location {
    display: flex;
    width: 33%;
    justify-content: center;
    .location,
    img {
      width: 25px;
      height: 25px;
    }
  }
}

@media (max-width: 992px) {
  .navbar .navbar-link-container {
    display: none;
    width: 0;
  }
  .navbar .navbar-name {
    width: 50%;
  }
  .navbar-link-container {
    width: 0%;
  }
  .location {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-right: 2em;
    align-items: center;
    .location,
    img {
      bottom: 0;
    }
  }
  .navbar .navbar-location {
    font-size: variables.$fsStandard * 1.4;
    width: 60%;
  }
}

@media (max-width: 576px) {
  .navbar {
    height: 10vh;
  }
  .navbar .navbar-location {
    font-size: variables.$fsStandard * 1.2;
    width: 80%;
  }
  .location,
  img {
    position: absolute;
    right: -10px;
  }
}
