@use '../../styles/variables';

.footer-container {
  display: flex;
  flex-direction: column;
  height: 12vh;
  gap: 1em;
  width: 100%;
  background-color: #fff;
  .socials-list {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 1em;
    column-gap: 50px;
    .socials-link {
      display: flex;
      justify-content: center;
      width: 5%;
      scale: 1.4;
      transition: 0.4s;
      height: 30px;
      width: 30px;
      align-items: center;
      &:hover {
        background-color: variables.$emphaseColor;
        transition: 0.4s;
        border-radius: 30px;
        color: variables.$lightTextColor;
      }
    }
  }
  .footer-text {
    text-align: center;
  }
}
