@use '../../styles/variables';

.footer {
  // position: fixed;
  background-color: variables.$mainColor;
  // bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 15vh;
  font-weight: variables.$fwStandard * 1.2;
  .footer-text {
    font-size: variables.$fsStandard * 0.8;
    margin-bottom: variables.$gutter * 2;
  }
}

.socials-list {
  display: flex;
  gap: 40px;
  margin: variables.$gutter * 0.5 auto;

  .socials-link {
    font-size: variables.$fsStandard * 1.4;
    transition: 0.5s;
    &:hover {
      scale: 1.5;
      transition: 0.5s;
      color: variables.$emphaseColor;
    }
  }
}
